apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-app.fullname" . }}-config
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
data:
  NEXT_PUBLIC_API_URL: {{ .Values.config.nextPublicApiUrl | quote }}
  DATABASE_URL: {{ .Values.config.databaseUrl | quote }}
  BETTER_AUTH_SECRET: {{ .Values.config.betterAuthSecret | quote }}